{{#each productoH}}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card-box">
                <div class="card-title">
                    <img src="{{this.imagenPath}}" class="img-fluid" alt="Adidas">
                    <h2>{{nombre}}</h2>
                    <p>{{talla}}}</p>
                    <p>{{color}}</p>
                    <p>{{cantidad}}</p>
                    <p>{{precio}}</p>
                </div>
                <div class="card-button">
                    <a href="/shopCart" type="button" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{/each}}